fastapi
uvicorn
gunicorn
pydantic
python-dotenv
python-multipart
opencv-python
numpy
onnxruntime
insightface
SQLAlchemy
alembic
psycopg[binary]
psycopg2-binary
python-jose[cryptography]
passlib
pgvector
pytest
